html{
    background-color: b;
    
}
#Address{
    color: blue;
}
#image{
    height: 150px;
    width: 145px;
    padding: 10px;
    border: 10px solid black;
    background-color:cadetblue
}
.middle{
    background-color:navajowhite;
    text-align: center;
}

