html{
    background-color: b;
    
}
h1{
    color: coral;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#Address{
    color: blue;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif
}
#image{
    height: 150px;
    width: 145px;
    padding: 10px;
    border: 10px solid black;
    background-color:cadetblue
}
.middle{
    background-color:navajowhite;
    text-align: center;
}

   table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }

